* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.form-container {
    width: 500px;
}

.btn {
    margin-top: 5px;
    border-radius: 2px;
    background: cadetblue;
    padding: 5px;
    border: none;
    color: white;
    cursor: pointer;
}

span {
    display: block;
    font-size: 12px;
    color: #333;
    margin-top: 5px;
}